---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "nelailen";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>My Astrocity</h1>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
