---

---

<div class='bottom-nav'>
  <ul>
    <li><a href='/'>../</a></li>
    <li><a href='/about/'>Me</a></li>
    <li><a href='/blog/'>Writings</a></li>
    <li><a href='/notes/'>Scratch</a></li>
    <li><a href='#'>Projects</a></li>
    <li><a href='#'>etc</a></li>
    <li><a href='/tags/'>Tags</a></li>
  </ul>
</div>
