---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: #4c1d95;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }
    a:hover,
    a:focus {
    text-decoration-style: wavy;
    text-decoration-thickness: 1.5px;
    text-decoration-color: azure;
    text-underline-offset: 2px;
  }
</style>