---
import BaseLayout from './BaseLayout.astro'
import type { CollectionEntry } from 'astro:content'

interface Props {
  post: CollectionEntry
}

const { collection, description } = Astro.props
---

<html lang='en'>
  <head>
    <BaseLayout title={collection} description={description} />
    <style>
      ul {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        gap: var(--space-xs-s);
        padding: 0;
      }
    </style>
  </head>

  <body>
    <h1 title={collection}></h1>
    <main>
      <ul>
        <slot />
      </ul>
    </main>
  </body>
</html>
